:root {
    --primary: #00BDD6FF;
}

.bg {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.bg-loaded {
    opacity: 1;
}

.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1150px
}

.row.row-collapse {
    max-width: 1120px
}

.row.row-small {
    max-width: 1142.5px
}

.row.row-large {
    max-width: 1180px
}

.header-main {
    height: 90px
}

#logo img {
    max-height: 90px
}

#logo {
    width: 200px;
}

.header-bottom {
    min-height: 55px
}

.header-top {
    min-height: 30px
}

.transparent .header-main {
    height: 90px
}

.transparent #logo img {
    max-height: 90px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 90px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px !important
}

.stuck #logo img {
    max-height: 70px !important
}

.search-form {
    width: 36%;
}

.header-bg-color {
    background-color: #ffffff
}

.header-bottom {
    background-color: var(--primary)
}

.header-main .nav>li>a {
    line-height: 16px
}

.header-bottom-nav>li>a {
    line-height: 16px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }

    #logo img {
        max-height: 70px
    }
}

/* Color */
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
    color: var(--primary);
}

/* Color !important */
[data-text-color="primary"] {
    color: var(--primary) !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: var(--primary);
}

/* Background */
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.header-vertical-menu__opener,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
    background-color: var(--primary);
}

/* Border */
.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: var(--primary)
}

.nav-tabs>li.active>a {
    border-top-color: var(--primary)
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: var(--primary)
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: var(--primary)
}

/* Fill */
.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: var(--primary);
}

/* Background Color */
[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button,
.current .breadcrumb-step {
    background-color: #eeee22;
}

[data-text-bg="secondary"] {
    background-color: #eeee22;
}

/* Color */
.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #eeee22
}

/* Color !important */
[data-text-color="secondary"] {
    color: #eeee22 !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #eeee22
}

body {
    font-size: 100%;
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Roboto", sans-serif
}

body {
    font-weight: 0
}

body {
    color: #111111
}

.nav>li>a {
    font-family: "Roboto", sans-serif;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-family: "Roboto", sans-serif;
}

.nav>li>a {
    font-weight: 0;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-weight: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    color: #000000;
}

.breadcrumbs {
    text-transform: none;
}

button,
.button {
    text-transform: none;
}

.section-title span {
    text-transform: none;
}

h3.widget-title,
span.widget-title {
    text-transform: none;
}

.alt-font {
    font-family: "Dancing Script", sans-serif;
}

.alt-font {
    font-weight: 400 !important;
}

.header:not(.transparent) .header-nav-main.nav>li>a {
    color: #141414;
}

.header:not(.transparent) .header-bottom-nav.nav>li>a {
    color: #ffffff;
}

.is-divider {
    background-color: #ffffff;
}

.footer-2 {
    background-color: #262626
}

.absolute-footer,
html {
    background-color: var(--primary)
}

/* Custom CSS */
.col-inner ul li {
    list-style: none;
}

.col-inner ul li::before,
.entry-content ul li::before {
    color: transparent;
    font-size: 1px;
    content: " ";
    margin-left: -25px;
    padding: 10px;
    background-color: var(--primary);
    -webkit-mask-image: url(wp-content/uploads/2022/03/icon-check.png);
    -webkit-mask-size: cover;
    position: absolute;
}

span.section-title-main {
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 50px;
    font-weight: normal;
}

.section-title span {
    text-transform: capitalize;
}

.section-title b {
    background-color: transparent;
}

.button {
    font-weight: normal
}

.btn-datxe {
    text-transform: uppercase;
}

a.button.primary.is-bevel.is-xlarge.btn-datxe {
    background: #fffb00;
    font-weight: bold;
    color: white;
}

.widget {
    border: 1px solid #ccc;
    padding: 10px;
}

span.widget-title {
    background: var(--primary);
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
}

.widget .is-divider {
    margin-top: 0.66em;
    display: none;
}

.entry-header-text {
    padding-bottom: 0;
}

.entry-content {
    padding-top: 0;
}

.label-new.menu-item>a:after {
    content: "New";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}